
body{
    font-family: $mainFontFamily;
}

h1,h2,h3,h4,h5,h6{
    font-family: $headersFontFamily;
}

.bg {
    position: fixed;
    z-index: -1;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}