.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    &__title {
        margin: 0 0 30px 0;
        color: $titleColor;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        user-select: none;
    }
    &__form {
        // max-width: 500px;
        // width: 100%;
        width: min(100% - 30px, 550px);
       
    
        @include forBigPhone {
            width: min(100% - 30px,250px);
        }

    }
    &__city {
        width: 100%;
        padding: 10px 5px;
        border: none;
        border-radius: 50px;
        outline: none;
        text-align: center;
        margin: 0 0 40px 0;
    }
    &__info {
       padding: 30px;
       background-color:$infobgColor ;
       color:$infoColor;
       border-radius: 20px;
       display: flex;
       align-items: center;
       gap: 15px;
    
        @include forBigPhone {
            flex-direction: column;
            text-align: center;
        }
    }

    &__region{
        p {
            margin: 0 0 5px 0;
            &:last-of-type{
                margin: 0;
            }
        }
    }

    &__temp {
        font-size: 60px;
        display: flex;
        span {
            font-size: 30px;
            padding: 6px 0 0 0 ;
        }
     }
    &__details {
        p {
            margin: 0 0 5px 0;
            &:last-of-type{
                margin: 0;
            }
        }
     }
 }